NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_FROM_EMAIL=onboarding@resend.dev
CONTACT_TO_EMAIL=team@example.com
